<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Data Driven Sample">


    <listeners>
      <listener class-name="org.uncommons.reportng.HTMLReporter"/>
      <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
       <listener class-name="com.sampleProject.listners.CustomListeners"/>
      
      
      
  </listeners>
  <test  name="Bank Manager LoginTest">
    <classes>
      <class name="com.sampleProject.testcases.BankManagerLoginTest"/>
    </classes>
  </test> <!-- Test -->
  
  

  
     <test  name="Add Customer Test">
    <classes>
      <class name="com.sampleProject.testcases.AddCustomerTest"/>
    </classes>
  </test>
  
     <test  name="Open Account Test">
    <classes>
      <class name="com.sampleProject.testcases.OpenAccountTest"/>
    </classes>
  </test>
  
  
</suite> <!-- Suite -->
